body{
    margin:0;
}

#HEADER{
    width:100%;
    background-color:rgb(101, 210, 110);
    height:10vh;
    position:absolute;
    z-index:4;

}

#logo{
    height:10vh;
    width: 10vh;
    position:absolute;

}

#überschrift{
    margin-left: 15vh;
    position: absolute;
}

.CONTENT {
    position:absolute;
    margin-top: 100px;
    display:flex;
    z-index:5;
}

.hinzufügen{
    display:block;
    margin-top:50vh;
    width: 20vh;
    height:7vh;
    border-color: rgb(255, 255, 255);
    border-style:solid;
    background-color:black;
    color: aliceblue;
    border-width:1px;
    border-radius: 10px;
}

#back-img{
    width:100%;
    height: 100vh;
    object-fit: cover;
    opacity:0.5;
    filter: brightness(0.9);
    z-index:-1;
    position: absolute;
}

.namensfeld{
    position:absolute;
    width: 20vh;
}

.Zutatenfeld{
    margin-top:6vh;
    position:absolute;
    width: 12vh;
    height: 4vh;
}

.neueZutat{
    height: 30px;
    margin-top: 18vh;
}