body{
    margin:0;
    background-color: black;
}

#HEADER{
    width:100%;
    background-color:rgb(39, 35, 35);
    height:10vh;
    position:absolute;

}

#logo{
    height:10vh;
    width: 10vh;
    position:absolute;

}

#Kategorien-dropdown{
    margin-left:15vh;
    margin-top: 3vh;
}

#search-bar

#back-img{
    width:100%;
    height: 100vh;
    object-fit: cover;
}