body{
    margin:0;
}

#logo{
    height:10vh;
    width: 10vh;
    position:absolute;
}

#überschrift{
    margin-left: 15vh;
}

#HEADER{
    width:100%;
    background-color:rgb(238, 234, 234);
    height:10vh;
    position:absolute;
    z-index: 4;
}

.Verlinkung{
    color: white;
    text-decoration: none;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    padding:10px;
    margin:10vh;
}

#CONTENT{
    position:absolute;
    margin-top: 30vh;
    justify-content: center;
    align-items: center;
    display:flex;
    z-index: 3;
}

#back-img{
    width:100%;
    height: 100vh;
    object-fit: cover;
    opacity:0.9;
    filter: brightness(0.7);
}